*{
    margin: 0;
    padding: 0;
}


body {
    
    background-color:white;

  }
  .container{
    background:url(./pic/adliye.jpg);
    height: 100vh;
     background-size: 100% 100%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity:0.8;
    background-color: #e0461399;
  }
  
  li {
    float:left;
  }
  
li a, .dropbtn {
    Font-weight: bold;
    display: inline-block;
    color: rgb(2, 3, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(168, 20, 20);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.active{
    background-color: rgb(129, 115, 115);
}

  p{
    background-color:rgb(255, 255, 255 ,0.8);
  }